Target="archlinux"
Timezone="America/Sao_Paulo"
Hostname="hemorroida"
Domain="rede.tata"
Locale="pt_BR-UTF-8 UTF-8, pt_BR ISO-8859-1, en_US.UTF-8 UTF-8, en_US ISO-8859-1"
Proxy_http="http://192.168.15.1:3128"
Proxy_https="http://usuario:senha@192.168.15.1:3128"
Proxy_ftp="ftp://ftp.proxy.teste:3124"
RootPassword="Testando123"
<Ethernet>
  Dev="enp3s0"
  Ip="192.168.15.15/24"
  Dns1="8.8.8.8"
  Dns2="8.8.4.4"
  Gateway="192.168.15.254"
</Ethernet>
<Ethernet>
  Dev="enp2s0"
  Ip="192.168.15.14/24"
  Dns1="8.8.8.7"
  Dns2="8.8.4.3"
  Gateway="192.168.15.253"
</Ethernet>
<User>
  Name="xunda"
  Id="1000"
  Gid="1000"
  Groups="wheel,audio,video,users"
  Home="/home/xunda2"
  Shell="/bin/bash"
  Active="yes"
  Password="teste123"
  System="no"
</User>
<User>
  Name="bunda"
  Id="1005"
  Gid="1005"
  Groups="wheel,video,input"
  Home="null"
  Shell="null"
  Active="no"
  Password="teste312"
  System="yes"
</User>
<Group>
  Name="escritorio"
  Gid="1010"
  Password="Teste123"
</Group>
<Group>
  Name="balcao"
  Gid="1011"
  Password="Teste1234"
</Group>
