###############################################################################
# Samba profile
# Description: Install samba and tools to support and maintain a CIFS share 
#              on network
# Author: Tiago Tarifa Munhoz <email@mail.com>
# Date: 29/06/2017
# Auto generate in: "$(date '+%c')"
# 
###############################################################################

language="$language"
keyboard="$keymap"
timezone="$timezone"
hostname="$hostname"
root_password="$rootPassword"
# It's just a useradd param and password var
<users>
	"$usersList"
</users>

# It's just a example. It will be fit with netclt
<network>
	lan="enp2s0" ip="192.168.0.40/24" gateway="192.168.2.1" dns="8.8.8.8"
	lan="wlp1s0" ip="192.168.0.41/24" 
</network>
<locales>
	"$locale"
</locales>
<repositories>
	"$repositories"
</repositories>
<packages>
	base-devel
	htop
	dstat
</packages>

# Everything beetween <pre-script>...</pre-script> will run before
#setting configuration like hostname, lan, timezone, etc... and
#install the base package system
# You can put your partitioner script here
<pre-script>
</pre-script>

# Run everything beetween <pos-script>...</pos-script> after install
#base package system and set all configuration like hostname, lan, etc.
#but before the first reboot.
<pos-script>
</pos-script>

# <chroot-script>...</chroot-script> it's the same of <pos-script> but
#it will run your script in chroot, inside of your installation.
<chroot-script>
</chroot-script>

# 
#arquivo.
<pre-initial>
</pre-initial>

#Executa no primeiro boot depois da instalação finalizar todas as tarefas
# e antes de reiniciar
<pos-initial>
</pos-initial>
