###############################################################################
# Description: Make a Samba Server for you
# Author: Tiago Tarifa Munhoz <email@mail.com>
# Date: 04/07/2017
# Auto generate in: "$(date '+%c')"
# 
###############################################################################

language="$language"
keyboard="$keymap"
timezone="$timezone"
hostname="$hostname"

# chpasswd input
<passwords>
	$rootPassword
	$usersPassword
</passwords>

# useradd parameters
<users>
	$usersList
</users>

# sed use this to edit /etc/locale.gen
<locales>
	$locale
</locales>

# sed use this to edit /etc/pacman.d/mirrorlist.
# Do not start with 'Server ='.
# Example 'http://repository.next.to.me/archlinux/
<repositories>
	$repositories
</repositories>

# pacman packages
# it can be 'htop dstat' or 'htop' newline 'dstat'
<packages>
	base-devel
	htop
	dstat
</packages>

# Everything beetween <pre-script>...</pre-script> will run before
#setting configuration like hostname, lan, timezone, etc... and
#install the base package system
# You can put your partitioner script here
<pre-script>
</pre-script>

# Run everything beetween <pos-script>...</pos-script> after install
#base package system and set all configuration like hostname, lan, etc.
#but before the first reboot.
<pos-script>
</pos-script>

# <chroot-script>...</chroot-script> it's the same of <pos-script> but
#it will run your script in chroot, inside of your installation.
<chroot-script>
</chroot-script>

# 
#arquivo.
<pre-initial>
</pre-initial>

#Executa no primeiro boot depois da instalação finalizar todas as tarefas
# e antes de reiniciar
<pos-initial>
</pos-initial>
